<div class="<%= col_class%>">
	
	<!--================FLASHCARD CODE===========================================-->
	<div class="flashcard-container">
		<div class="flashcard" id="<%= 'card_' + f.id.to_s %>">
		    <div class="face front <%= 'card_' + f.id.to_s %>">
		    	<div class="side-header">
					<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= flashcard_path(f) %>" class="delete-link" data-toggle="tooltip" data-placement="bottom" title="Delete">
						<span class="glyphicon glyphicon-remove-circle delete-link" aria-hidden="true">
					</a>
		    	</div>
		    	<div class="side-body">
						<p class="orig-word"><%= f.orig_word %></p>

						<div class="image">
							<%= image_tag f.image.url, :class => "center-horizontally"%>
						</div>


				</div>

				 <div class="side-footer">

						<ul class="left">
							<li class="<%= unless show_view_link then 'hide' else '' end %>"><%= link_to 'View', flashcard_path(f) %></li>
							<li><%= link_to 'Edit', edit_flashcard_path(f) %></li>
						</ul>

					<ul class="right"> 
						<li class='flip'>Click to flip</li>
						<li><a href="" class="tag-link" data-card-id="<%= 'card_' + f.id.to_s %>">Toggle tags</a><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></li>
					</ul>

				 </div>
			</div>

			<div class="face back <%= 'card_' + f.id.to_s %>">
				<div class="side-header">
					<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= flashcard_path(f) %>" class='delete-link' data-toggle="tooltip" data-placement="bottom" title="Delete">
						<span class="glyphicon glyphicon-remove-circle delete-link" aria-hidden="true">
					</a>
				</div>
				<div class="side-body">
					<p class="translation"><%= f.translation %></p>
				</div>

				 <div class="side-footer">
					<ul class="left">
						<li class="<%= unless show_view_link then 'hide' else '' end %>"><%= link_to 'View', flashcard_path(f) %></li>
						<li><%= link_to 'Edit', edit_flashcard_path(f) %></li>
					</ul>

					<ul class="right"> 
						<li class='flip'>Click to flip</li>
						<li><a href="" class="tag-link" data-card-id="<%= 'card_' + f.id.to_s %>">Toggle tags</a><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></li>
					</ul>
				 </div>

			</div>
		</div>
	</div>

	<div class="flashcard-tags">
		<div class="clearer"></div>
		<ul class="tag-list <%= 'card_' + f.id.to_s %>">
			<% f.user_defined_tags.order(:name).each do |t| %>
				<li><%= link_to t.name, stacks_by_user_defined_tag_path(t)%></li>
			<% end %>

			<li><a href="<%= stacks_by_langs_path(l.code.sub('-','_')) %>"><%= (l.from_lang + " to " + l.to_lang).strip %></a></li>
			<li><a href="<%= stacks_by_batch_path(f.batch_id)%>"><%=('batch ' + f.batch_id.to_s).strip %></a></li>
		</ul>
	</div>

</div>