<div class="<%= col_class %>" id="<%= 'card_' + f.id.to_s + '_top'%>">
	
	<!--================FLASHCARD CODE===========================================-->
	<div class="flashcard-container">
		<div class="flashcard" id="<%= 'card_' + f.id.to_s %>">
		    <div class="face front <%= 'card_' + f.id.to_s %>">
		    	<div class="side-header">
					<%= render partial: "flashcards/flashcard_header", locals: { fl: f }%> 
		    	</div>
		    	<div class="side-body">
						<p class="orig-word"><%= f.orig_word %></p>

						<div class="image">
							<%= image_tag f.image.url, :class => "center-horizontally"%>
						</div>


				</div>

				 <div class="side-footer">

				 	<%= render partial: "flashcards/flashcard_footer", locals: { fl: f, show_vl: show_view_link }%> 

				 </div>
			</div>

			<div class="face back <%= 'card_' + f.id.to_s %>">
				<div class="side-header">
					<%= render partial: "flashcards/flashcard_header", locals: { fl: f }%> 
				</div>
				<div class="side-body">
					<p class="translation"><%= f.translation %></p>
				</div>

				 <div class="side-footer">
				 	<%= render partial: "flashcards/flashcard_footer", locals: { fl: f, show_vl: show_view_link }%> 
				 </div>

			</div>
		</div>
	</div>

	<div class="flashcard-tags">
		<div class="clearer"></div>
		<ul class="tag-list <%= 'card_' + f.id.to_s %>">
			<% f.user_defined_tags.order(:name).each do |t| %>
				<li><%= link_to t.name, stacks_by_user_defined_tag_path(t)%></li>
			<% end %>

			<li><a href="<%= stacks_by_langs_path(l.code.sub('-','_')) %>"><%= (l.from_lang + " to " + l.to_lang).strip %></a></li>
			<li><a href="<%= stacks_by_batch_path(f.batch_id)%>"><%=('batch ' + f.batch_id.to_s).strip %></a></li>
		</ul>
	</div>

</div>