<h1>Generate New Batch of Flashcards</h1>

<div class="generate-new-batch-form">
  <% if flash[:error] && flash[:error].any? %>
      <div>
        <ul>
          <% flash[:error].each do |msg| %>
            <li class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= msg %>  
            </li>
          <% end %>
        </ul>
      </div>
      <% flash[:error] = nil %>
  <% end %>


  <%= form_tag("/flashcards/create_batch", method: "post") do %>
    <p>
    	<%= label_tag(:from_lang, "Original language:") %>
    	<%= select_tag(:from_lang, options_for_select(@supported_langs)) %>
    </p>
    <p>
     	<%= label_tag(:to_lang, "Translate to:") %>
    	<%= select_tag(:to_lang, options_for_select(@supported_langs)) %>
     </p>
    <p>
      <%= label_tag(:batch_tags, "Tags to apply to all cards in batch:") %>
        <p class="instructions">
          <p> Add tags you want to apply to every card in the batch in the box below. Enter the tags as a comma separated list.</p>
          <p class="example"><i>Example</i> animal, noun</p>
        </p>
      <%= text_field_tag(:batch_tags, '') %>
     </p>
     <fieldset id="words">
     	<legend>Words</legend>
      <p>App will automatically determine article, do not include it. For example, instead of "le papillon", enter "papillon".</p>
      <p id="add_words_button">
        <%= label_tag(:num_words_to_add, "How many flashcards would you like to add to the stack? ") %>
        <%= text_field_tag(:num_words_to_add) %>
        <%= submit_tag("Make input fields!", :type =>  "button", :id => "add_word_fields", :name => 'add_word_fields') %> 
      </p>

     </fieldset>
    <%= submit_tag("Generate!") %>
  <% end %>
</div>